# Dependencies
node_modules/
.pnp
.pnp.js
# bun lockfile (commit this)
# bun.lockb

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
bun-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

# Database
*.db
*.sqlite

# Blockchain
artifacts/
cache/
typechain-types/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
